:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #F1F1F1;
  color: #ccc;
}

#app {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}